body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(black, #111);
    color: #333;

}

header {
    color: #fff;
    padding: 4px 2px;
    text-align: center;
}

.a1 {
    width: 60%;
    /* border: 1px solid red; */
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* padding: 4px 2px; */
}

.a1 img {
    padding: 0px 10px;
    height: 100px;
}

#i1 {
    border-radius: 50%;
    width: 85px;
    height: auto;
}

#i2 {
    border-radius: 50%;
    width: 110px;
    height: auto;
}

#i3 {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

#i4 {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

p {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}



figcaption {
    font-size: 14px;
    color: white;
}

h1 {
    color: white;
}

main {
    padding: 20px 20px;
    text-align: center;
}

.a2 {
        width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#n1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#n2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#n3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.b1 {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(pink, purple);
    margin: 20px;
    box-shadow: 0 0 10px pink;
}

.b2 {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(pink, purple);
    margin: 20px;
    box-shadow: 0 0 10px pink;
}

.b3 {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(pink, purple);
    margin: 20px;
    box-shadow: 0 0 10px pink;
}

.b1 button {
    margin-top: 10px;
    background: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.b2 button {
    margin-top: 10px;
    background: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;

}

.b3 button {

    background: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;

}

.a3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

#g1 {

    width: 200px;
    height: 200px;
}

#g2 {
    width: 200px;
    height: 200px;
    ;
}

#g3 {
    width: 200px;
    height: 200px;
    ;
}

#g4 {

    width: 200px;
    height: 200px;
    ;
}

#g5 {

    width: 200 px;
    height: 200px;
    ;
}